*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 1rem;
}
p{
    text-align: center;
    font-size: x-large;
}
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}
.not-found-img {
    width: 40%;
}
.not-found-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5%;
    cursor: pointer;
}